###**Q1**.  Use [Lucidchart](https://sjsu.edu/it/services/applications/lucidchart.php) to create an Entity Relationship Diagram (ERD) for the following tables representing a customer order tracking system:

Tables and fields:
1. product:
    - product_id: INTEGER (Primary key)
    - name: TEXT not null
    - price: REAL


2. customer:
    - customer_id: INTEGER (Primary key)
    - name: TEXT not null
    - email: TEXT not null


3. purchase_order:
    - order_id: INTEGER (Primary key)
    - customer_id: INTEGER (Foreign key)
    - date: TEXT not null ("YYYY-MM-DD")


4. order_item:
    - order_id: INTEGER (Foreign key)
    - product_id: INTEGER (Foreign key)
    - quantity: INTEGER
    


Export the ERD as PDF and submit it in Canvas.

###**Q2**. Create SQLite tables and load data
1. Here are the csv files for the data for the four tables:
   - product: https://raw.githubusercontent.com/csbfx/cs133/main/product.csv
   - customer: https://raw.githubusercontent.com/csbfx/cs133/main/customer.csv
   - order_item: https://raw.githubusercontent.com/csbfx/cs133/main/order_item.csv
   - purchase_order: https://raw.githubusercontent.com/csbfx/cs133/main/purchase_order.csv
2. In this notebook, create the database and save it in a file called `store.db`, and create the four tables as described above.
3. Load the data in the csv files into the corresponding table.
4. Commit so that the data loaded to the tables to officially written to the tables.
5. Execute a query SELECT * from each table to make sure the data are properly loaded.
6. Execute a query using SELECT statement that queries with JOIN tables to find the purchase date, the products and quantities that a particular customer has purchased.

In [11]:
# 2.2 Create the database and save it in a file called store.db, and create the four tables as described above.
# Your code here . . .
import sqlite3
from pathlib import Path
import pandas as pd

conn = sqlite3.connect("store.db")
c = conn.cursor()


SQL_CreateTable = '''CREATE TABLE IF NOT EXISTS student (
             product_id INTEGER PRIMARY KEY,
             name TEXT NOT NULL,
             price REAL
             )'''
c.execute(SQL_CreateTable)


SQL_CreateTable = '''
CREATE TABLE IF NOT EXISTS customer (
    customer_id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    email TEXT NOT NULL
)'''
c.execute(SQL_CreateTable)


SQL_CreateTable = '''
CREATE TABLE IF NOT EXISTS purchase_order (
    order_id INTEGER PRIMARY KEY,
    customer_id INTEGER,
    date TEXT NOT NULL,
    FOREIGN KEY (customer_id) REFERENCES customer(customer_id)
)'''
c.execute(SQL_CreateTable)


SQL_CreateTable ='''
CREATE TABLE IF NOT EXISTS order_item (
    order_id INTEGER,
    product_id INTEGER,
    quantity INTEGER,
    FOREIGN KEY (order_id) REFERENCES purchase_order(order_id),
    FOREIGN KEY (product_id) REFERENCES product(product_id)
)'''
c.execute(SQL_CreateTable)

In [17]:
# 2.3 Load the data in the csv files into the corresponding table.
# Your code here . . .
product = pd.read_csv('https://raw.githubusercontent.com/csbfx/cs133/main/product.csv')
customer = pd.read_csv(' https://raw.githubusercontent.com/csbfx/cs133/main/customer.csv')
purchase_order = pd.read_csv('https://raw.githubusercontent.com/csbfx/cs133/main/purchase_order.csv')
order_item = pd.read_csv('https://raw.githubusercontent.com/csbfx/cs133/main/order_item.csv')


product.to_sql('product', conn, if_exists='append', index=False)
customer.to_sql('customer', conn, if_exists='replace', index=False)
purchase_order.to_sql('purchase_order', conn, if_exists='replace', index=False)
order_item.to_sql('order_item', conn, if_exists='append', index=False)

4

In [18]:
# 2.4 Commit so that the data loaded to the tables to officially written to the tables.
# Your code here . . .
conn.commit()

In [20]:
# 2.5 Execute a query SELECT * from each table to make sure the data are properly loaded.
# Your code here . . .
c.execute("SELECT * FROM product")
product_results = c.fetchall()
print(product_results)

c.execute("SELECT * FROM customer")
customer_results = c.fetchall()
print(customer_results)

c.execute("SELECT * FROM purchase_order")
purchase_order_results = c.fetchall()
print(purchase_order_results)

c.execute("SELECT * FROM order_item")
order_item_results = c.fetchall()
print(order_item_results)

[(0, 'bicycle', 400), (1, 'helmet', 45), (2, 'gloves', 23), (3, 'chain', 48), (0, 'bicycle', 400), (1, 'helmet', 45), (2, 'gloves', 23), (3, 'chain', 48), (0, 'bicycle', 400), (1, 'helmet', 45), (2, 'gloves', 23), (3, 'chain', 48), (0, 'bicycle', 400), (1, 'helmet', 45), (2, 'gloves', 23), (3, 'chain', 48), (0, 'bicycle', 400), (1, 'helmet', 45), (2, 'gloves', 23), (3, 'chain', 48), (0, 'bicycle', 400), (1, 'helmet', 45), (2, 'gloves', 23), (3, 'chain', 48)]
[(0, 'Wendy Lee', 'wlee@bike.com'), (1, 'Jason Brown', 'jb@speed.com'), (2, 'Harry Potter', 'hp@hogwarts.edu'), (3, 'Godric Gryffindor', 'gg@hogwards.edu')]
[(0, 0, '2020-10-19'), (1, 0, '2020-10-20'), (2, 1, '2020-10-20')]
[(0, 0, 1), (0, 1, 1), (1, 2, 2), (1, 3, 1), (0, 0, 1), (0, 1, 1), (1, 2, 2), (1, 3, 1)]

In [21]:
# 2.6 Execute a query using SELECT statement that queries with JOIN tables to find the purchase date,
#    the products and quantities that a particular customer has purchased.
# Query 1:

SQL_JointQuery1 = """
SELECT
    purchase_order.date AS purchase_date,
    product.name AS product_name,
    order_item.quantity AS quantity
FROM
    customer
JOIN
    purchase_order USING (customer_id)
JOIN
    order_item USING (order_id)
JOIN
    product USING (product_id)
WHERE
    customer.name = 'John Doe'
"""
c.execute(SQL_JointQuery1)
joint_results1 = c.fetchall()
print("\nPurchases by John Doe:")
print(joint_results1)



# Query 2: Find all purchases across all customers
SQL_JointQuery2 = """
SELECT
    customer.name AS customer_name,
    purchase_order.date AS purchase_date,
    product.name AS product_name,
    order_item.quantity AS quantity
FROM
    customer
JOIN
    purchase_order USING (customer_id)
JOIN
    order_item USING (order_id)
JOIN
    product USING (product_id)
"""
c.execute(SQL_JointQuery2)
joint_results2 = c.fetchall()
print("\nAll purchases across all customers:")
print(joint_results2)
# Your code here . . .

Purchases by John Doe:
[]

All purchases across all customers:
[('Wendy Lee', '2020-10-19', 'bicycle', 1), ('Wendy Lee', '2020-10-19', 'bicycle', 1), ('Wendy Lee', '2020-10-19', 'bicycle', 1), ('Wendy Lee', '2020-10-19', 'bicycle', 1), ('Wendy Lee', '2020-10-19', 'bicycle', 1), ('Wendy Lee', '2020-10-19', 'bicycle', 1), ('Wendy Lee', '2020-10-19', 'bicycle', 1), ('Wendy Lee', '2020-10-19', 'bicycle', 1), ('Wendy Lee', '2020-10-19', 'bicycle', 1), ('Wendy Lee', '2020-10-19', 'bicycle', 1), ('Wendy Lee', '2020-10-19', 'bicycle', 1), ('Wendy Lee', '2020-10-19', 'bicycle', 1), ('Wendy Lee', '2020-10-19', 'helmet', 1), ('Wendy Lee', '2020-10-19', 'helmet', 1), ('Wendy Lee', '2020-10-19', 'helmet', 1), ('Wendy Lee', '2020-10-19', 'helmet', 1), ('Wendy Lee', '2020-10-19', 'helmet', 1), ('Wendy Lee', '2020-10-19', 'helmet', 1), ('Wendy Lee', '2020-10-19', 'helmet', 1), ('Wendy Lee', '2020-10-19', 'helmet', 1), ('Wendy Lee', '2020-10-19', 'helmet', 1), ('Wendy Lee', '2020-10-19', 'helmet', 1), ('Wendy Lee', '2020-10-19', 'helmet', 1), ('Wendy Lee', '2020-10-19', 'helmet', 1), ('Wendy Lee', '2020-10-20', 'gloves', 2), ('Wendy Lee', '2020-10-20', 'gloves', 2), ('Wendy Lee', '2020-10-20', 'gloves', 2), ('Wendy Lee', '2020-10-20', 'gloves', 2), ('Wendy Lee', '2020-10-20', 'gloves', 2), ('Wendy Lee', '2020-10-20', 'gloves', 2), ('Wendy Lee', '2020-10-20', 'gloves', 2), ('Wendy Lee', '2020-10-20', 'gloves', 2), ('Wendy Lee', '2020-10-20', 'gloves', 2), ('Wendy Lee', '2020-10-20', 'gloves', 2), ('Wendy Lee', '2020-10-20', 'gloves', 2), ('Wendy Lee', '2020-10-20', 'gloves', 2), ('Wendy Lee', '2020-10-20', 'chain', 1), ('Wendy Lee', '2020-10-20', 'chain', 1), ('Wendy Lee', '2020-10-20', 'chain', 1), ('Wendy Lee', '2020-10-20', 'chain', 1), ('Wendy Lee', '2020-10-20', 'chain', 1), ('Wendy Lee', '2020-10-20', 'chain', 1), ('Wendy Lee', '2020-10-20', 'chain', 1), ('Wendy Lee', '2020-10-20', 'chain', 1), ('Wendy Lee', '2020-10-20', 'chain', 1), ('Wendy Lee', '2020-10-20', 'chain', 1), ('Wendy Lee', '2020-10-20', 'chain', 1), ('Wendy Lee', '2020-10-20', 'chain', 1)]

In [ ]:
# Additional tasks
# Appending a new row to one of the tables
# Deleting row(s) with "XXX"